{% extends "greeting/base.html" %}
{% block title %}Puppy_Lover{% endblock %}
{% block style %}
    <style>
         @font-face { font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
        h3 { font-family: 'Binggrae-Bold'; }
    </style>
{% endblock %}
{% block content %}
    <div class="main_container">
        <form>
            <h3>회원가입</h3>
            
        </form>
    </div>
{% endblock %}